[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-weasyprint = "*"
weasyprint = "*"
pyyaml = "*"
qrcode = "*"
click = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
myst-parser = "*"
karma-sphinx-theme = "*"
sphinx-click = "*"
