{% extends 'layout.html' %}
{% import 'macros.html' as macros with context %}


{% block body %}
<div class="columns">

  <section class="cover">
    <h1>{{ config.author }}</h1>
    <p>{% if config.subtitle %}{{ config.subtitle }}<br />{% endif %}{{ config.address }}<br /><b>{{ now.strftime('%B %Y') }} Directory</b>
    </p>
    <p><i>Last updated: {{ macros.last_updated() }}</i></p>

    {% if config.qrcode_label %}<p>{{ config.qrcode_label }}</p>{% endif %}
    {{ macros.qrcode_img() }}

    <p class="contact">
      {{ config.email }}<br />
      {{ config.phone }}
    </p>
    <hr />
    <p class="codes">
      {% for code, name in filtered_codes %}
      <b>{{ code }}</b>={{ name }}{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
  </section>
  {% if 'misc' in config.sections %}
  <section>
    {% include "includes/sections/misc.html" %}
  </section>
  {% endif %}

  {% for name1, group1 in meetings.by_value('day', sort=True) %}

  {% if config.group1_header %}
  <div class="group1header">
    <h4>{{ DAYS[name1|int] }}</h4>
  </div>
  {% endif %}
  <section>
    <table>
      {% for time, meets in group1.by_value('time') %}
      <tr class="meetrow">
        <td class="timecol">{{ meets[0].time_display }} {{ meets[0].day_display[:2] }}</td>
        <td class="meetings">
          {% for meet in meets.sort('name') %}
          <div class="nobreak">
            <span class="meetname">{{ macros.title(meet) }}</span>
            <span class="meettypes">({{ macros.codes(meet, ', ') }})</span><br>
            {% if show(meet, 'notes') %}<span class="notes">{{ meet.notes_list|join('|') }}</span><br />{% endif %}
            {% if show(meet, 'conference_url') %}
            <span class="notes">{{ meet.conference_url }}</span>
            {% if show(meet, 'conference_url_notes') %}|<span class="notes">{{ meet.conference_url_notes }}</span>{%
            endif %}
            <br />
            {% endif %}
            {% if show(meet, 'location') %}
            <span class="location">{% if meet.location %}{{ macros.location(meet) }}</span><br />{% endif %}
            <span class="address">{{ macros.address_link(meet) }}</span>
            {% endif %}
          </div>
          {% if not loop.last %}
          <hr />{% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>
  {% endfor %}
  <section class="ntable nobreak">
    <h4>Notes</h4>
    <table>
      {% for i in range(25) %}
      <tr>
        <td>&nbsp;</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</div>

{% endblock %}