{% extends 'layout.html' %}
{% import 'macros.html' as macros with context %}

{% block head %}
<style>
{% include 'assets/css/table.css' %}

  @page {
    size: {{config.size}};
  }
  .section {
    background: {{ config.header_color }};
    color: {{ config.page_number_color }};
  }
</style>
{% endblock %}

{% block body %}
<article>
  <section>
    <table>
      <tr>
        <td>
          <a href="{{ config.qrcode_url }}"><img src="{{ qrcode }}" /></a>
        </td>

        <td style="text-align: center; width: 70%;">

          <span class="f28 b">{{ config.author }}</span><br />
          <span class="f14">{{ config.address }}</span><br />
          <span class="f20 b">{{ now.strftime('%B %Y') }} Directory</span>
        </td>

        <td style="text-align: right; ">
          Email: {{ config.email }}<br />
          Phone: {{ config.phone }}<br />
          <b><i>Last updated: {{ now.strftime('%d/%m/%Y') }}</i></b>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          {% for code, name in filtered_codes %}
          <b>{{ code }}</b>={{ name }},
          {% endfor %}
        </td>
      </tr>
    </table>

    <table class="bordered">
      <tr class="section">
        <th>Meeting</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Conference</th>
      </tr>

      {% for name1, group1 in meetings.by_value('region_display', sort=True) %}
      {% if config.group1_header %}
      <tr class="section">
        <td colspan="9">
          <span class="sectiontitle">&nbsp;{{ name1 }}
          {% set zips = zipcodes_by_region[name1] %}
          {% if not zips %}
          {% set zips = group1.zipcodes %}
          {% endif %}
          {{ zips|join(',') }}
          </span>
        </td>
      </tr>
      {% endif %}
      {% for name, meets in group1.by_value('name').items()|sort %}
      {% set first = meets[0] %}
      <tr>
        <td class="firstcol">
          <span class="meetname">{{ macros.title(first) }}</span><br />
          <span class="location">{% if first.location %}{{ macros.location(first) }}</span><br />{% endif %}
          <span class="address">{{ macros.address_link(first) }}</span>
        </td>
        {% set daymeets = meets.by_value('day') %}
        {% for day, dayname in DAYS.items()| sort %}
        {% if day != 12 %}
        <td class="meetcols">
          {% if daymeets[day] %}
          {% for meet in daymeets[day] %}
          <span class="time">{{ meet.time_display }}</span> <span class="meettypes">({{ macros.codes(meet, ', ') }})</span><br>
          {% endfor %}
          {% endif %}
        </td>
        {% endif %}
        {% endfor %}
        <td class="meetcols">
          {{ macros.zoom_link(first) }} <br />
          {{ macros.phone_link(first) }} <br />
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </section>
</article>

{% for x in range(config.notes_pages) %}
<article class="notes">
  <section>
    <table class="ntable">
      {% for i in range(32) %}
      <tr>
        <td>&nbsp;</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</article>
{% endfor %}

{% endblock %}
