<tr class="f12 nobreak">
    <td style="width: 8ch;">{{ meeting.time_display }}</td>
    <td style="width: 40%;">
        {% block meeting_title %}<b>{{  link(meeting.url, meeting.name, meeting.id_display) }}</b>{% endblock %}
        {% set codes = codify(meeting.types)|join(' ') %}
        {% block meeting_codes %}
            {% if codes %}
                <br/>{{ codes }}
            {% endif %}
            {% if meeting.location %}
                <br/>{{ link(meeting.location_url, meeting.location) }}
            {% endif %}
        {% endblock %}
    </td>
    <td style="width: 100%;">
        {% if meeting.is_conference %}
            {% if config.show_links %}
                {% if meeting.conference_url %}
                    {% block zoom_link %}{{ link(meeting.conference_url, 'Join on Zoom') }}{% endblock %}
                {% endif %}
                {% if meeting.conference_phone %}
                    {% if meeting.conference_url and meeting.conference_phone %}|{% endif %}
                    {% block phone_link %}{{ link('tel:' + meeting.conference_phone, 'Join on Phone') }}{% endblock %}
                {% endif %}
            {% endif %}
            {% if meeting.conference_notes_display %}
                {% if meeting.conference_url or meeting.conference_phone %}<br/>{% endif %}
                {{ meeting.conference_notes_display }}
            {% endif %}
        {% endif %}
        {% if meeting.notes %}
            {% if meeting.is_conference %}<br/>{% endif %}{{ meeting.notes_list|join('|') }}
        {% endif %}
        {% if meeting.zipcode %}
            {% block meeting_address %}
            <br/>
            {{ link('https://www.google.com/maps/search/?api=1&query=' + meeting.latlon, meeting.address_display) }}
            {% endblock %}
        {% endif %}

    </td>
</tr>
