@font-face {
  font-family: Fira Sans;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/s/firasans/v11/va9E4kDNxMZdWfMOD5VfkILKSTbndQ.ttf);
}

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/s/firasans/v11/va9f4kDNxMZdWfMOD5VvkrA6Qhf_XljGllLX.ttf);
}

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnPKruQR37fF3Wlg.ttf);
}

@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/firasans/v11/va9B4kDNxMZdWfMOD5VnLK3uQR37fF3Wlg.ttf);
}

h1 {
  font-size: 1.6em;
}


html {
  font-family: Fira Sans;
}

@page {
  font-size: 12pt;
  font-family: Fira Sans;
  margin: 1.5cm .5cm .5cm .5cm;
}
@page {
  size: {{config.size}};
}
.section {
  background: {{ config.header_color }};
  color: {{ config.page_number_color }};
}
.f28 {
  font-size: 1.4em;
}

.f20 {
  font-size: 1.2em;
}

.f14 {
  font-size: 1em;
}

.b {
  font-weight: bold;
}

.bordered table,
.bordered th,
.bordered td {
  border: 1px solid;
}

th {
  text-align: center;
  font-size: .6em;
}

tr {
  page-break-inside: avoid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.orgtitle {
  text-align: center;
  width: 100%;
}

.orginfo {
  text-align: right;
}

.codes {
  font-size: .8em;
}

.firstcol {
  font-size: .6em;
  width: 20%;
}

.meetname {
  font-weight: bold;
}

.meetcols {
  font-size: .5em;
  width: 10%;
}

.time {
  font-weight: bold;
}


.sectiontitle {
  font-size: .6em;
}

.section {
  text-align: center;
  font-weight: bold;
}


.ntable {
  width: 100%;
}

.ntable td {
  border-bottom: 1px solid black;
}
.notes {
  break-before: always;
}
