<article class="f14" id="questions">
    <h2>The 20 Questions of Alcoholics Anonymous</h2>
    <p>
        Here are 20 Questions designed to help you determine how alcohol has affected your life.
    </p>
    <p class="f16">

        <b>1. </b>Do you lose time from work due to drinking? <br />
        <b>2. </b>Is drinking making your home life unhappy? <br />
        <b>3. </b>Do you drink because you are shy with other people? <br />
        <b>4. </b>Is drinking affecting your reputation? <br />
        <b>5. </b>Have you ever felt remorse after drinking? <br />
        <b>6. </b>Have you got into financial difficulties as a result of drinking? <br />
        <b>7. </b>Do you turn to lower companions and an inferior environment when drinking? <br />
        <b>8. </b>Does your drinking make you careless of your family's welfare? <br />
        <b>9. </b>Has your ambition decreased since drinking? <br />
        <b>10.</b> Do you crave a drink at a definite time daily? <br />
        <b>11.</b> Do you want a drink the next morning? <br />
        <b>12.</b> Does drinking cause you to have difficulty sleeping? <br />
        <b>13.</b> Has your efficiency decreased since drinking? <br />
        <b>14.</b> Is drinking jeopardizing your job or business? <br />
        <b>15.</b> Do you drink to escape from worries or trouble? <br />
        <b>16.</b> Do you drink alone? <br />
        <b>17.</b> Have you ever had a complete loss of memory as a result of drinking? <br />
        <b>18.</b> Has your physician ever treated you for drinking? <br />
        <b>19.</b> Do you drink to build up your self-confidence? <br />
        <b>20.</b> Have you ever been to a hospital or institution on account of drinking?

    </p>

    <p>
        If you have answered <b>YES</b> to any one of the questions there is a definite warning that <br />
        you may be an alcoholic. <br />
        If you have answered <b>YES</b> to any two, the chances are that you are an alcoholic. <br />
        If you have answered <b>YES</b> to three or more, you are definitely an alcoholic. <br />
        <br />
        (The foregoing Test Questions are used by Johns Hopkins University Hospital, Baltimore, MD,
        to help in determining whether or not a patient is an alcoholic.)
    </p>
</article>