<article id="backcover" class="f18">
<div>
<p class="b">A.A. PREAMBLE</p>
<p>
Alcoholics Anonymous is a fellowship of people
who share their experience, strength and hope
with each other that they may solve their
common problem and help others to recover
from alcoholism.
</p>
<p>
The only requirement for membership is a desire
to stop drinking. There are no dues or fees for
A.A. membership; we are self-supporting
through our own contributions.
</p>
<p>
A.A. is not allied with any sect, denomination,
politics, organization or institution; does not
wish to engage in any controversy, neither
endorses nor opposes any causes.
</p>
<p>
Our primary purpose is to stay sober and help
other alcoholics to achieve sobriety.
</p>

<p><i>Reprinted with permission of the Grapevine.</i></p>

<p class="b">An A.A. Group</p>
<p>
Traditionally, two or more alcoholics meeting together for sobriety
may consider themselves an A.A. group, provided that as a group,
they are self supporting and have no outside affiliation. Groups
listed in the directory are listed at their own request.
</p>
<p>
A directory listing does not constitute or imply approval or endorsement of any group’s approach to our practice of the traditional A.A. Program.
<p>

<p class="f12">
  {{ config.author }}<br/>

{{ config.address }}<br/>

{{ config.website }}
</p>
</div>
</article>
