<article class="columns" id="contact">
<h2>Contact</h2>
<p>
    Central Offices, Intergroups and Answering Services For Maryland, DC, Spanish
</p>
<section>
    <p>
        Aberdeen-Northeastern Maryland Intergroup<br />
        {{ link('tel:410-272-4150', '1-410-272-4150') }}<br />
        {{ link('http://www.nemdaa.org', 'www.nemdaa.org') }}
    </p>
    <p>
        Annapolis Area Intergroup<br />
        {{ link('tel:410-268-5441', '1-410-268-5441') }}<br />
        {{ link('http://www.annapolisareaintergroup.org', 'www.annapolisareaintergroup.org') }}
    </p>
    <p>
        Calvert, Charles & St. Mary’s Counties<br />
        Southern Maryland Intergroup<br />
        {{ link('tel:800-492-0209', '1-800-492-0209') }}
    </p>
    <p>
        Easton-Midshore Intergroup<br />
        {{ link('tel:410-822-4226', '1-410-822-4226') }}<br />
        {{ link('http://www.midshoreintergroup.org', 'www.midshoreintergroup.org') }}
    </p>
    <p>
        Frederick-West Central Intergroup<br />
        {{ link('tel:301-662-0544', '1-301-662-0544') }}<br />
        {{ link('http://www.westcentralaa.org', 'www.westcentralaa.org') }}
    </p>
    <p>
        Hagerstown 24 Hr. Answering Service<br />
        {{ link('tel:1-301-733-1109', '1-301-733-1109') }}<br />
        {{ link('http://www.hagerstownaa.org', 'www.hagerstownaa.org') }}
    </p>
    <p>

    Ocean City Intergroup<br />
    1-800-339-8811<br />
    {{ link('http://www.ocaa.org', 'www.ocaa.org') }}
    </p>
    <p>
        Oficina Intergrupal Hispana (Spanish)<br />
        {{ link('tel:301-587-6191', '1-301-587-6191') }}
    </p>
    <p>
        Salisbury Area Intergroup<br />
        {{ link('tel:410-543-2266', '1-410-543-2266') }}<br />
        {{ link('http://www.lsiaa.org', 'www.lsiaa.org') }}
    </p>
    <p>
        Washington, D.C. Intergroup<br />
        {{ link('tel:202-966-9115', '1-202-966-9115') }}<br />
        {{ link('http://www.aa-dc.org', 'www.aa-dc.org') }}
    </p>
    <p>
        Western Maryland Intergroup<br />
        {{ link('tel:301-722-6110', '1-301-722-6110') }}
    </p>
    <p>
        A.A.W.S./G.S.O.<br />
        P.O. Box 459, Grand Central Station<br />
        New York, NY 10163<br />
        {{ link('tel:1-212-870-3400', '1-212-870-3400') }}<br />
        {{ link('http://www.aa.org', 'www.aa.org') }}
    </p>
    <p>
        Al-Anon/Alateen<br />
        {{ link('tel:410-832-7094', '410-832-7094') }}<br />
        {{ link('http://www.alanon-maryland.org', 'www.alanon-maryland.org') }}
    </p>
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <hr>
    &copy; {{ now.year }} {{ config.author }} All rights reserved. <br/>No part of this publication can be reproduced, stored in a retrieval system.  or transmitted in any form or by any means, electronic, photocopying, or otherwise, without express written permission of {{ config.author }}
    <hr>
</section>
</article>
