<div>
    <p>
        <span class="f36 b" style="color: white">
        {{ config.author.split()|join('<br/>')|safe }}
        <!-- Baltimore <br />Intergroup <br />Council -->
        <span class="f18">of</span> <br />
        Alcoholics <br />Anonymous,
        <span class="f18">inc.</span></span>
    </p>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <p>
        <span class="f40 b">{{ now.strftime('%B %Y') }}</span><br/>
        <span class="f36 b">Directory</span>
    </p>
    <p>
        <span class="f16"> An A.A. Group<br /><br />
            Traditionally, two or more alcoholics meeting together for
            sobriety may consider themselves an A.A. group, provided that as
            a group, they are self supporting and have no outside affiliation.
            Groups listed in the directory are listed at their own request.<br /><br />
            A directory listing does not constitute or imply approval or
            endorsement of any group's approach to or practice of the
            traditional A.A. Program</span>
    </p>
    <br/><br/>

    <p style="text-align: center; width: 100%" class="f12">
        {{ config.address }}<br />
        Telephone: {{ config.phone }}<br />
        {% if fax %}Fax: {{ config.fax }}<br />{% endif %}
        Email: {{ config.email }}<br />
        <b>{{ config.website }}</b><br />
        <b>This book may not be used as a mailing list.</b>
    </p>
</div>
