<h2>Some Typical Misconceptions</h2>
<p>
Here is a list of things that <b>A.A. IS NOT and DOES NOT DO:</b><br/>
<b>IS NOT</b> a religious organization.<br/>
<b>IS NOT</b> a temperance movement.<br/>
<b>IS NOT</b> an educational agency and does not engage in education about alcoholism.<br/>
<b>IS NOT</b> a cure or a "cure all."<br/>

<b>DOES NOT</b> solicit members or provide initial motivation for alcoholics to recover.<br/>
<b>DOES NOT</b> engage in or sponsor research.<br/>
<b>DOES NOT</b> follow up or try to control its members or keep attendance records or case histories.<br/>
<b>DOES NOT</b> join “councils” of social agencies.<br/>
<b>DOES NOT</b> provide any treatment for alcoholism, provide drying-out or nursing services, hospitalization, drugs, or make medical or psychological diagnoses.<br/>
<b>DOES NOT</b> provide housing, food, jobs, money, transportation, domestic or vocational counseling, or offer any other welfare or social services.<br/>
<b>DOES NOT</b>  provide letters of reference to parole boards, lawyers, court officials, schools, businesses, social agencies, employers, or any other organization or institution.<br/>
<b>DOES NOT</b> accept any money for its services or accept contributions from non-A.A. sources.<br/>

<p>
<b>The sole purpose of Alcoholics Anonymous is to help the alcoholic who wants to stop drinking.</b>
<ul>
<li>A.A. members share their experience with anyone seeking help with a drinking problem.</li>
<li>A.A. members offer person-to-person sponsorship to the alcoholic coming to A.A. from any source or referred by any source.</li>
<li>A.A. sponsors help new members develop a program of recovery by working the Twelve Steps and Twelve Traditions of A.A.</li>
<li>A.A. meetings reinforce recovery and help members develop a satisfying life without alcohol. </li>
<li>Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.</li>
</ul>
</p>
