<h2>Some Typical Misconceptions</h2>
<p>
Here is a list of things that <b>A.A. IS NOT and DOES NOT DO,</b><br/>
<b>IS NOT</b> a religious movement.<br/>
<b>IS NOT</b> a temperance movement.<br/>
<b>IS NOT</b> a social service organization (it has no paid social workers or professional workers.)<br/>
<b>IS NOT</b> an educational agency.<br/>
<b>IS NOT</b> a cure or a "cure all."<br/>
<b>DOES NOT</b> solicit or accept funds from
outside sources. Voluntary contributions from
members and groups support A.A. service.<br/>
<b>DOES NOT</b> prescribe treatment for alcoholism.<br/>
<b>DOES NOT</b> provide transportation.<br/>

<p>
The sole purpose of Alcoholics Anonymous is
to help the alcoholic who wants to stop
drinking.
</p>
