<section>
    <h2>THE TWELVE STEPS</h2>
    <ol>
        <li>We admitted we were powerless over alcohol—that
            our lives had become unmanageable.</li>
        <li>Came to believe that a Power greater than ourselves
            could restore us to sanity.</li>
        <li>Made a decision to turn our will and our lives over
            to the care of God as we understood Him.</li>
        <li>Made a searching and fearless moral inventory of
            ourselves.</li>
        <li>Admitted to God, to ourselves, and to another human
            being the exact nature of our wrongs.</li>
        <li>Were entirely ready to have God remove all these
            defects of character.</li>
        <li>Humbly asked Him to remove our shortcomings.</li>
        <li>Made a list of all persons we had harmed, and became
            willing to make amends to them all.</li>
        <li>Made direct amends to such people wherever possible,
            except when to do so would injure them or others.</li>
        <li>Continued to take personal inventory, and when we
            were wrong promptly admitted it.</li>
        <li>Sought through prayer and meditation to improve
            our conscious contact with God, as we understood
            Him, praying only for knowledge of His will for us
            and the power to carry that out.</li>
        <li>Having had a spiritual awakening as the result of these
            steps, we tried to carry this message to alcoholics, and
            to practice these principles in all our affairs.</li>
    </ol>

    <i>
        Reprinted with permission of A.A. World Services
    </i>

    <p style="text-align: center;"><b><i>
                God grant me the serenity to accept the
                things I cannot change,
                courage to change the things I can,
                and widsdom to know the difference.
            </i></b></p>

</section>

<section>
    <h2>THE TWELVE TRADITIONS OF A.A.</h2>
    <ol>
        <li>Our common welfare should come first; personal
            recovery depends upon A.A. unity.</li>
        <li>For our group purpose there is but one ultimate
            authority—a loving God as he may express Himself in
            our group conscience. Our leaders are but trusted
            servants; they do not govern.</li>
        <li>The only requirement for A.A. membership is a
            desire to stop drinking.</li>
        <li>Each group should be autonomous except in matters
            affecting other groups or A.A. as a whole.</li>
        <li>Each group has but one primary purpose—to carry its
            message to the alcoholic who still suffers.</li>
        <li>An A.A. group ought never endorse, finance, or lend
            the A.A. name to any related facility or outside enterprise,
            lest problems of money, property and prestige
            divert us from our primary purpose.</li>
        <li>Every A.A. group ought to be fully self-supporting,
            declining outside contributions.</li>
        <li>Alcoholics Anonymous should remain forever
            non-professional; but our service centers may employ
            special workers.</li>
        <li>A.A., as such, ought never be organized; but we may
            create service boards or committees directly
            responsible to those they serve.</li>
        <li>Alcoholics Anonymous has no opinion on outside
            issues; hence the A.A. name ought never be drawn
            into public controversy.</li>
        <li>Our public relations policy is based on attraction
            rather than promotion; we need always maintain
            personal anonymity at the level of press, radio and films.</li>
        <li>Anonymity is the spiritual foundation of all our
            traditions, ever reminding us to place principles
            before personalities.</li>
    </ol>
    <i>
        Reprinted with permission of A.A. World Services
    </i>
</section>
