{% extends 'flask/base.html' %}
{% block head %}
<script>
  let editors = [];
  const editorOpts = {
    maxLines: Infinity,
    fontSize: "14pt"
  }

  function clearMarks(editor) {
    const prevMarkers = editor.session.getMarkers();
    if (prevMarkers) {
      const prevMarkersArr = Object.keys(prevMarkers);
      for (let item of prevMarkersArr) {
        editor.session.removeMarker(prevMarkers[item].id);
      }
    }
  }

  function addEditor(name) {
    let editor = ace.edit(name + '-editor');
    editor.setOptions(editorOpts);
    editor.getSession().setMode("ace/mode/yaml");
    editor.setShowPrintMargin(false);
    editor.getSession().on("change", function() {
      val = editor.getSession().getValue()
      $('#' + name + '-src').val(val);
      clearMarks(editor);
    });
    editor.focus();
    editors[name] = editor;
  }
  $(function() {
    $("#tabs").tabs();
  });
</script>
{% endblock %}

{% block main %}
<form method="POST" action="?action=edit">
  <h3>Click on a config file below to edit it</h3>
  <input type="submit" class="ui-button ui-widget ui-corner-all" value="Save">
  {% if errors %}
  <p>Errors found in configs below
  <p>
    {% endif %}
    {% if success %}
  <p>Saved the files
  <ul>{% for fn in success %}<li>{{ fn }}</li>{% endfor %}</ul>
  <p>
    {% endif %}
  <div id="tabs">
    <ul>
    {% for name in config %}
      <li><a href="#{{ hash(name) }}">{{ name }}</a></li>
    {% endfor %}
    </ul>
    {% for name, src in config.items() %}
    <div id="{{ hash(name) }}">
      <div>
        {% if name in errors %}
        <p id="{{ hash(name) }}-error"></p>
        <script>
          $(document).ready(function() {
            var error = jQuery.parseJSON("{{ errors[name]|safe }}");
            $('#{{ hash(name) }}-error').text(error.context + ': ' + error.problem + ' on line ' + error.problem_mark);
            var Range = ace.require('ace/range').Range;
            var editor = ace.edit('{{ hash(name) }}-editor')
            var mark = editor.session.addMarker(new Range(error.problem_mark, 0, error.problem_mark, 10), "myMarker", "fullLine");
          })
        </script>
        {% endif %}
      </div>
      <div id="{{ hash(name) }}-editor">{{ src }}</div>
      <input type="hidden" name="{{ name }}" id="{{ hash(name) }}-src" value="{{ src }}" />
      <script>
        $(document).ready(function() {
          addEditor('{{ hash(name) }}')
        });
      </script>
    </div>
    {% endfor %}
  </div>
  <input type="submit" class="ui-button ui-widget ui-corner-all" value="Save">

</form>
{% endblock %}
